h1{
	font-size: 50px;
	color: #ffffff;
	background-color: #23ade5;
	text-align: center;
	padding: 5px;
}

h2{
	font-size: 50px;
	color: #23ade5;
	text-align: left;
	padding: 5px;
  }
tr{
    font-size: 50px;
	color: #000000;
	text-align: left;
	padding: 5px;
}

p{
	text-align: left;
    font-size: 45px;
	padding: 5px;
}

table{
	margin: 10px;
}

th {
    font-family : "Arial", sans-serif;
    font-size : 40px;
    background: #23ade5;
	text-align: center;
    padding: 4px;
}

td {
    font-family : "Arial", sans-serif;
    font-size : 50px;
    background: #eeeeee;
	text-align: center;
    padding: 4px;
}

