h1{
	font-size: 3vw;
	color: #ffffff;
	background-color: #23ade5;
	text-align: center;
	padding: 5px;
}

h2{
	font-size: 2vw;
	color: #23ade5;
	text-align: left;
	padding: 5px;
  }
tr{
    font-size: 2vw;
	color: #000000;
	text-align: left;
	padding: 5px;
}

p{
	text-align: left;
    font-size: 2vw;
	padding: 5px;
}
