.container-s {
  display: flex;
  flex-direction: column;
  margin: 0;
  Padding: 0;
}

.title {
  display: flex; /* Flexbox コンテナとして設定 */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  height: 140px;
  background-color: #23ade5;
  margin-top: 20px;
  padding: 0; 
}
  
.title h1 {
  font-size: 100px;
  color: #fff;
}

.week-menu, .day-menu {
  display: flex; /* Flexbox コンテナとして設定 */
  flex-direction: column; /* 子要素を縦に並べる */
  justify-content: center; /* 垂直方向の中央揃え */
  align-items: center; /* 水平方向の中央揃え */
  height: 140px;
}

.week-menu h2, .day-menu h2 {
  font-size: 75px;
  color: #23ade5;
}

.content-a,.content-b,.content-c{
  display: flex;
  flex: 1;
}

.left-a,.left-b,.left-c,.right-a,.right-b,.right-c{
  width: 100%;
  height: 400px;
}

.container img {
  width: 95%;
  height: 350px;
}

