body{
	margin: 0;
  }

h1{
	font-size: 8vw;
	color: #ffffff;
	background-color: #23ade5;
	text-align: center;
	padding: 5px;
}

h2{
	font-size: 6vw;
	color: #23ade5;
	text-align: center;
	padding: 5px;
  }

.schedule_place{
	padding-left: 40px;
	font-size: 3vw;
	text-align: center;
	padding: 5px;
}

.note{
	font-size: 4vw;
	color: #B22D35;
	text-align: center;
	padding: 3px;
}

.map{
	max-width: 60%;
	height: auto;
	display: block;
	margin: 0 auto;
}


.bottom_line{
	border: 0.001px dashed #23ade5;
}